.git/
.github/
.gitignore

# python
__pycache__/
venv/

# pytest
.pytest.ini
.pytest_cache/
requirements/dev.txt
.coverage
htmlcov/

# vscode
.vscode/
.editorconfig
config.code-workspace

# Containers
Procfile
Dockerfile
docker-compose.yml
.flake8

# README
README.md
